@import
	url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap')
	;

body {
	margin: 0px;
	padding: 0px;
	background: url("../img/fundo-verde.jpg") fixed bottom;
	font-family: 'roboto';
}
/* Menu principal do site */
.logotipo {
	width: 75px;
	height: 60;
	margin-top: 10px;
	margin-left: 5px;
}

.texto-pag {
	margin-left: 10px;
	font-style: italic;
	font-weight: 700;
	text-transform: uppercase;
	color: #228B22;
	font-size: 30px;
	position: absolute;
	top: 1%
}

.inicial {
	position: static;
	background-color: white;
	z-index: 3;
	background-color: white;
}

.bottom {
	color: rgb(34, 139, 34);
}

.botao, .alterar, .cadastro, .relatorios {
	color: white;
	background-color: rgb(34, 139, 34);
	transition: all .3s;
	font-size: 18px;
	margin-left: 2px;
}

.botao:hover, .alterar:hover, .cadastro:hover, .relatorios:hover {
	color: white;
	background-color: rgb(34, 139, 34);
	border: rgb(34, 139, 34) solid 3px;
	margin-left: 2px;
}

.fa {
	margin-left: 10px;
}

#botao_2, #alterar_2, #cadastro_2, #relatorios_2 {
	color: white;
	background-color: rgb(34, 139, 34);
}

#botao_2:hover, #alterar_2, #cadastro_2:hover, #relatorios_2 {
	color: rgb(34, 139, 34);
	background-color: white;
}

.material-icons {
	color: rgb(34, 139, 34);
}
/* Fim das configurações do menu principal */

/* Criando espaço em branco, definindo se um elemento deve ser 
movido abaixo (limpo) elementos flutuantes que o precedem. 
A propriedade se aplica a elementos flutuantes e não flutuantes. */
.espaco-em-branco {
	clear: both;
}

/* Controle das 3 caixas superiores do painel */
.sessao_cards {
	text-align: center;
	margin-top: 10px;
	padding: 5px;
	justify-content: center;
	align-items: center;
	font-style: italic;
	text-transform: uppercase;
}

/* Configuração geral de exibição do container, para os cards */
.cards {
	display: flex;
	justify-content: center;
}

/* Configuração da tag h2 de todos os cards */
.cards h2 {
	color: white;
	font-size: 25px;
	font-weight: 700;
	font-style: italic;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* Configuração geral para todos os card das lojas, 
exibindo a transparência e os efeitos */
.card_usuario, .card_loja, .card_agendamento {
	background: rgba(43, 38, 38, 0.3);
	box-shadow: 0 8px 32px 0 rgba(70, 70, 70, 0.37);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	float: left;
	position: relative;
	margin: 5px;
	width: 400px;
	height: 300px;
}

/* Configuração da tag p dentro dos cards */
.qnt_usuarios, .qnt_lojas, .qnt_agendamentos {
	color: white;
	font-size: 16px;
	font-weight: 600;
	font-style: italic;
	margin-top: 5px;
}

/* Icones das caixas superiores  */
#usuario-inscritos {
	color: white;
	font-size: 50px !important;
	margin-top: 20px !important;
	margin-bottom: 10px;
}

#lojas-inscritas {
	color: white;
	font-size: 50px !important;
	margin-top: 20px !important;
	margin-bottom: 10px;
}

#agnd-concluida {
	color: white;
	font-size: 50px !important;
	margin-top: 20px !important;
	margin-bottom: 10px;
}
/* Fim do controle das caixas superiores do painel */

/* Inicio do controle dos 2 blocos do painel.
 Posição, tamanho do bloco */
.bloco-lojas {
	width: 50%;
	float: left;
}

.bloco-usuarios {
	width: 50%;
	float: right;
	margin-bottom: 50px;
}

.texto-bloco {
	padding: 20px;
}

.texto-bloco p {
	margin: 0px;
	font-size: 30px;
	font-style: italic;
	color: white;
	display: flex;
}

.texto-bloco .agenda {
	text-align: center;
	font-size: 30px;
}

/* Controle da div loja */
.container-1 {
	margin-left: 5%;
	background: rgba(43, 38, 38, 0.3);
	box-shadow: 0 8px 32px 0 rgba(70, 70, 70, 0.37);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 600px;
	height: 400px;
}

/* Fim do controle do container-1 responsavel pelo controle da janela de loja */
.container-2 {
	margin-right: 5%;
	background: rgba(43, 38, 38, 0.3);
	box-shadow: 0 8px 32px 0 rgba(70, 70, 70, 0.37);
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 10px;
	border: 1px solid rgba(255, 255, 255, 0.18);
	width: 600px;
	height: 400px;
}

.btn-mais {
	float: right;
	display: flex;
	background-color: white;
	border-radius: 10px;
	color: #228B22;
	padding: 5px 10px;
	font-size: 15px;
}

.btn-mais:hover {
	background-color: #228B22;
	color: white;
}

/* Fim do controle dos 2 blocos do painel */

/* Inicio da configuração tabela da loja e usuário */
.lojas_plataforma, .usuarios_plataforma {
	font-family: roboto;
	border-collapse: collapse;
	width: 100%;
}

td, th {
	text-align: left;
	padding: 15px;
	color: #ddd;
	border-bottom: 1px solid #81818140;
}

#icon_editar {
	cursor: pointer;
	color: white;
}

#icon_remover {
	cursor: pointer;
	margin-left: 25%;
}
/* Fim da configuração da tabela da loja e usuário */