/* Importando fonte roboto do google */
@import
	url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap')
	;

* {
	box-sizing: border-box;
}

/*Configuração Tela inteira */
body{
	background-image:url("../img/fundo-verde.jpg");
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 40px;
	font-family: "roboto";
}


/* Configurações da exibição do botão voltar tela */
.btn-voltar i {
	border-radius: 50%;
	background: white;
	color: #228b22;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	margin: 20px 15px;
}

/*Configuração do h1, titulo de registro da página */
h1 {
	font-family: "roboto";
	font-weight: bold;
	text-transform: uppercase;
	font-style: italic;
	font-size: 30px;
	color: white;
	text-align: left;
	margin-top: -5%;
	
	
}
/*Configuração do h2, subtitulo de registro da página */
.subtitulo-cadastro {
	font-family: "roboto";
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	font-style: italic;
	text-align: center;
	margin-top: -2%;
}

/* Configurações do botão de registro */
button {
	border-radius: 20px;
	border: rgb(34, 139, 34) solid 1px;
	color: white;
	background-color: rgb(34, 139, 34);
	padding: 12px 45px;
	font-size: 18px;
	text-transform: uppercase;
	font-style: italic;
	margin-bottom: 30px;
}

button:hover {
	color: #228b22;
	background-color: white;
}

/* Inicio da configurações do formulário de registro */
form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
}

/* Configurações das layers de input do form */
input {
	background: rgba(43, 38, 38, 0.3);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
	border-radius: 10px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	color: white;
}

::placeholder {
	color: white;
}

.imagem-logo {
	font-family: "roboto";
	font-weight: bold;
	text-transform: uppercase;
	font-style: italic;
	font-size: 20px;
	color: white;
	text-align: center;
	margin: 0;
}

/* Configuração da primeira div de registro */
.registro-loja {
	left: 0;
	width: 50%;
	position: fixed;
}

/* Configuração da segunda div de registro */
.registro-loja-2 {
	width: 50%;
	margin-left: 50%;
	margin-top: 1%;
}