/* Importando fonte: Roboto do google fonts */
@import
	url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap')
	;

* {
	box-sizing: border-box;
}

/* Configurações para todo o corpo da página */
body {
	display: flex;
	background: url("../img/pagSenha/recuperar-senha.jpg") fixed bottom;
	background-size: cover;
	height: calc(600px - 30px);
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: "roboto";
	margin: 0px;
	padding: 0px;
}
/* Configuração da primeira div de registro */
.redefinir-senha {
	backdrop-filter: blur(8px); -webkit-backdrop-filter : blur( 8px);
	border-radius: 20px;
	height: 400px;
	-webkit-backdrop-filter: blur(8px);
}

/* Configurações da exibição do botão voltar tela */
.seta_voltar {
	margin-top: 10%;
	margin-left: 45%;
	margin-right: 50%;
}

.seta_voltar i {
	border-radius: 50%;
	background: white;
	color: #228b22;
	justify-content: center;
	align-items: center;
	font-size: 40px;
}

/*Configurações do h1, título de esqueceu a senha? */
h1 {
	font-family: "roboto";
	font-weight: bold;
	text-transform: uppercase;
	font-style: italic;
	font-size: 30px;
	color: white;
	text-align: left;
	margin-top: -25%;
}

/*Configurações do h2, subtítulo de redefinição de senha */
.subtitulo-chave {
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	font-style: italic;
	text-align: left;
	margin-top: -2%;
}

/* Inicio das configurações do formulário de registro */
form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
}

.pergunta-chave {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 3px 12px;
	width: 100%;
   	color: #228b22;
   	text-align:left;;
   	font-size: 15px;
}

/* Configurações das layers input do form */
input {
	background: rgba(43, 38, 38, 0.3);
	padding: 12px 15px;
	margin: 10px 0;
	width: 100%;
	color: white;
}

::placeholder {
	color: white;
}

/* Configurações do botão de confirmação */
.btn_redefinir {
	border-radius: 20px;
	border: rgb(34, 139, 34) solid 1px;
	color: white;
	background-color: rgb(34, 139, 34);
	padding: 10px 50px;
	font-size: 15px;
	text-transform: uppercase;
	text-decoration: none;
	font-style: italic;
}

.btn_redefinir:hover {
	color: #228b22;
	border: white solid 1px;
	background-color: white;
}