/* Importando fonte: Roboto do google fonts */
@import
	url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap')
	;

* {
	box-sizing: border-box;
}

/* Configurações para todo o corpo da página */
body {
	background: url("../img/fundo-verde.jpg") fixed bottom;
	border-radius: 40px;
	font-family: "roboto";
}

/* Configurações da exibição do botão voltar tela */
.btn-voltar i {
	border-radius: 50%;
	background: white;
	color: #228b22;
	justify-content: center;
	align-items: center;
	font-size: 40px;
	margin: 20px 15px;
}

/*Configuração do h1, titulo de registro da página */
h1 {
	font-family: "roboto";
	font-weight: bold;
	text-transform: uppercase;
	font-style: italic;
	font-size: 30px;
	color: white;
	text-align: left;
	margin-top: -5%;
}
/*Configuração do h2, subtitulo de registro da página */
#perfil-usuario, .subtitulo-usuario {
	color: white;
	font-size: 15px;
	text-transform: uppercase;
	font-style: italic;
	text-align: left;
	margin-top: -2%;
	text-align: center;
}

.btn_salvar {
    margin-top: 10px;
	border-radius: 20px;
	border: rgb(34, 139, 34) solid 1px;
	color: white;
	background-color: rgb(34, 139, 34);
	padding: 12px 4px;
	font-size: 15px;
	text-transform: uppercase;
	font-style: italic;
    width: 500px;
    margin-left:45px;
}

.btn_salvar:hover {
	color: #228b22;
	background-color: white;
	border: rgb(34, 139, 34) solid 1px;
}


/* Inicio da configurações do formulário de registro */
form {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 86px;
	text-align: center;
	
}

/* Configurações das layers de input do form */
input {
	background: rgba(43, 38, 38, 0.3);
	backdrop-filter: blur(2.5px);
	-webkit-backdrop-filter: blur(2.5px);
	border-radius: 10px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
	color: white;
}

::placeholder {
	color: white;
}

/* Configuração da primeira div de alteração de informações do usuário */
.config-usuario {
	position: static;
	margin-top: 2%;
	backdrop-filter: blur(20px);
	-webkit-backdrop-filter: blur(20px);
	border-radius: 20px;
}