<!DOCTYPE html>
<html lang="pt-br">

<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width = device-width, initial-scale = 1, shrink-to-fit = no">
<title>Login</title>
<!-- Favicon -->
<link rel="shortcut icon" href="img/logomarca/favicon.ico">
<!-- Importando fontes e icones -->
<link href="http://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<!-- Importando CSS -->
<link rel="stylesheet" href="css/styleLogin-administrador.css">
</head>

<body>
	<div class="entrar-adm">
	<div class="logo-marca">
			<a href="/index"><img class="logo-localiza"
				src="img/logomarca/localiza-branca.png"
				alt="Logomarca foto"></a>
		</div>
		<form action="#">
			<h1>Painel<br>login<br>Administrador</h1>
			<input type="text" placeholder="Usuário" /> <input type="password" placeholder="Senha" />
			<a class="btn_confirmar" href="painel-administrador.html">Entrar</a>
		</form>
	</div>
</body>
</html>